<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ゲハブログだけを殺すアプリ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46058730-1', 'kfka.net');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <h1>ゲハブログだけを殺すアプリ</h1>

    <p>当アプリは以下の機能を提供します</p>
    <ul>
      <li>登録時、当アプリを使用開始した旨をURLつきでつぶやきます</li>
      <li>特定URLを投稿したユーザーをリムーブし、リムーブした旨を@つきでツイートします</li>
      <li>特定URLを自分が投稿した場合は、その発言を削除します</li>
      <li>当アプリによりリムーブされたユーザーから自動的に再フォローされます</li>
      <li>特定URLを投稿しても当アプリにより自動リムーブされなくなります(発言は削除されます)</li>
      <li>登録せずに特定URLをつぶやく事により、ケツの穴小さいやつをあなたのフォロワーから締め出すことができます</li>
    </ul>
    <br />

    <p>現時点の特定URLは以下の2つです</p>
    <ul>
      <li>ttp://jin115.com</li>
      <li>ttp://blog.esuteru.com</li>
    </ul>
    <br />

    <span>
      twitterのoauthの仕様上、連携すると色々できます(DMは読んだり送ったり出来ません)<br />
      嘘偽りなく、上記意外でお預かりしたアクセストークンを使わないことを誓います
    </span>

    <br /><a href="/oauth">Twitterと連携する</a>

    <br /><br /><a href="https://github.com/YarmUI/gehakiller">お前たちのプルレクを待ってるぜ！！</a>
  </body>
</html>
